<div class="dialogo-contenedor" (click)="avanzarDialogo()">
    <!-- Contenedor del personaje Gallo y su burbuja -->
    <div class="personaje-container">
        <div class="burbuja" *ngIf="mensajeActual.personaje === 'gallo'">{{ mensajeActual.mensaje }}</div>
        <img src="assets/normal.png" alt="Gallo" class="personaje personaje-gallo">
    </div>

    <!-- Contenedor del personaje Sabio y su burbuja -->
    <div class="personaje-container">
        <div class="burbuja" *ngIf="mensajeActual.personaje === 'sabio'">{{ mensajeActual.mensaje }}</div>
        <img src="assets/sabio.png" alt="Sabio" class="personaje personaje-sabio">
    </div>

    <div class="texto-continuar">Clic para continuar</div>

</div>
