button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btnMenu img {
    width: 25vw; 
    height: auto;
    transition: all 0.3s ease; 
}

.btnJugar:hover img {
    content: url('../../assets/buttons/jugar1.png');
}

.btnOpciones:hover img {
    content: url('../../assets/buttons/opciones1.png');
}

.btnCreditos:hover img {
    content: url('../../assets/buttons/creditos1.png');
}

.logomenu {
    width: 35vw;
    height: auto;
}