<div class="container-fluid">
    

        <div class="text-center my-5">
          <img src="assets/logo.png" alt="" class="logomenu">
        </div>



        <div class="text-center mb-5">
          <button class="btnJugar btnMenu" [routerLink]="['/juego']" routerLinkActive="router-link-active" ><img src="assets/buttons/jugar0.png" alt="jugar"></button>
        </div>
        <div class="text-center mb-5">
          <button class="btnOpciones btnMenu" [routerLink]="['/opciones']" routerLinkActive="router-link-active" ><img src="assets/buttons/opciones0.png" alt="opciones"></button>
        </div>
        <div class="text-center">
          <button class="btnCreditos btnMenu" [routerLink]="['/creditos']" routerLinkActive="router-link-active" ><img src="assets/buttons/creditos0.png" alt="creditos"></button>
        </div>
  </div>