<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid bg-image">
      <img src="assets/background-image.jpg" alt="Background Image" class="img-fluid">
      <!-- or -->
      <video autoplay loop muted>
        <source src="assets/background-video.mp4" type="video/mp4">
      </video>
      <!-- Menu elements -->
      <div class="row justify-content-center">
        <!-- Logo or title -->
        <div class="col-md-6 text-center">
          <img src="assets/minecraft-logo.png">
          <h1>Help pablo</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <ul class="nav nav-pills">
            <!-- Navigation menu items -->
          </ul>
        </div>
      </div>
      <!-- Call-to-action button -->
      <div class="row justify-content-center">
        <div class="col-md-4 text-center">
          <button class="btn btn-primary btn-lg" [routerLink]="['/juego']" routerLinkActive="router-link-active" >Jugar</button>
        </div>
        <div class="col-md-4 text-center">
          <button class="btn btn-primary btn-lg" [routerLink]="['/creditos']" routerLinkActive="router-link-active">Creditos</button>
        </div>
        <div class="col-md-4 text-center">
          <button class="btn btn-primary btn-lg" [routerLink]="['/opciones']" routerLinkActive="router-link-active">Opciones</button>
        </div>
      </div>
    </div>
  </div>