.music-controls {
    position: fixed;
    top: 2vw;
    right: 2vw;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  .music-controls button {
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    padding: 0;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  .music-controls img {
    width: 4vw; /* Ajusta el tamaño de la imagen */
    
  }

  .menu-button {
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }

  .respuesta, .respuesta:active, .boton, .boton:active {
    background: none;
    background-image: url('../assets/buttons/buttonbackground.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 4vw; 
    border: none; 
    padding: 10px;
    color: #07215e;
    font-size: 1vw;
    text-align: center;
    outline: none;

}

.respuesta:hover, .boton:hover {
    background-image: url('../assets/buttons/buttonpressed.png');
    
}

.respuesta:active, .boton:active {
    background-image: url('../assets/buttons/buttonbackground.png');
    color: #07215e;
}

.respuesta:disabled:hover, .boton:disabled:hover {
  background-image: url('../assets/buttons/buttonbackground.png');
    color: #07215e;
    cursor: default;
}

  