<div id="nombreDiv" class="text-center">
    <h1 *ngIf="!nombreGuardado">Ingresa tu nombre!</h1>
    <h1 *ngIf="nombreGuardado && !mostrarNuevoInput">¡Hola {{ nombreGuardado }}!</h1>
    <h1 *ngIf="mostrarNuevoInput">¡Hola! Ingresa tu nombre</h1>

    <div *ngIf="nombreGuardado && !mostrarNuevoInput">
      <h2>¿Quieres continuar como <strong>{{ nombreGuardado }}</strong> o ingresar otro nombre?</h2>
      <button class="largeButton" (click)="continuarJuego()">Continuar como {{ nombreGuardado }}</button>
      <button class="largeButton" (click)="ingresarOtroNombre()">Ingresar otro nombre</button>
    </div>
  
    <div *ngIf="!nombreGuardado || mostrarNuevoInput">
      <input type="text" [(ngModel)]="nombreUsuario" id="nombreUsuario" placeholder="Nombre" maxlength="18" class="my-5">
      <button (click)="empezarJuego()" [disabled]="!nombreUsuario.trim()">Comenzar juego</button>
    </div>
  </div>