<app-dialogo3 *ngIf="mostrarDialogo" (dialogoTerminado)="ocultarDialogo()"></app-dialogo3>

<button *ngIf="mostrarDialogo" class="boton-cerrar-dialogo" (click)="mostrarDialogo = false">Saltar diálogo</button>

<div *ngIf="!mostrarDialogo && !showCongratulationsScreen">
    <h1 class="text-center my-3">Nivel 3: Ayuda al Gallo a Llenar el Matraz</h1>
    
    <div class="container text-center">
  <p>{{ message }}</p>
  
  <div class="controls-top">
    
    <button class="boton" (click)="fillFlask()">Llenar Matraz</button>
    <button class="boton" (click)="cleanSpill()">Limpiar Derrame</button>
    <button class="boton" (click)="reset()">Reiniciar Nivel</button>
  </div>
  
  <div class="container">
    <div class="flask-gallo-row">
      <!-- Sección del Matraz -->
      <div class="flask-section">
        <img 
          [src]="flaskImage" 
          alt="Matraz" 
          class="matraz-image" 
        />
      </div>
  
      <!-- Sección del Gallo -->
      <div class="gallo-section">
        <img [src]="galloImage" alt="Gallo" class="gallo-image" />
      </div>
    </div>
  </div>
  
  <div class="controls-bottom">
    <button class="jeringa" (click)="takeSyringe()">Tomar Jeringa</button>
    <button class="trapo" (click)="takeCloth()">Tomar Trapo</button>
  </div>
  
</div>

  <!-- Progreso visual de llenado del matraz -->
  
</div>

<div *ngIf="showCongratulationsScreen && !mostrarDialogo" class="congratulations">
  <h1>¡Felicidades! Has llenado todo el matraz</h1>
  <img src="assets/happy.png" alt="Gallo feliz en el centro" class="gallo-center" />
  <div class="congratulations-buttons">
    <button class="boton" [routerLink]="['/funciones']" routerLinkActive="router-link-active" >Continuar</button>
    <button class="boton" (click)="reset()">Reiniciar Nivel</button>
  </div>
</div>