.game-container {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
  }
  
  .progress {
    width: 80%;
    background-color: #eee;
    border-radius: 10px;
    height: 20px;
    margin: 20px auto;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 0.3s;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .controls-top,
  .controls-bottom {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .flask-gallo-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px; /* Espacio entre el matraz y el gallo */
    margin: 20px 0;
  }
  
  .flask-section,
  .gallo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .matraz-image {
    height: 20vw; /* Ajusta el tamaño del matraz */
  }
  
  .gallo-image {
    height: 20vw; /* Ajusta el tamaño del gallo */
  }
  

  .boton, .boton:active {
    background: none;
    background-image: url('../../assets/buttons/buttonbackground.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 5vw; 
    border: none; 
    padding: 10px;
    color: #07215e;
    font-size: 1.2vw;
    text-align: center;
    outline: none;

}

.boton:hover {
    background-image: url('../../assets/buttons/buttonpressed.png');
    
}

.boton:active {
    background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
}

.boton:disabled:hover {
  background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
}

h1{ 
  font-size: 3vw;
  color:white;
  -webkit-text-stroke: 0.1vw #07215e;}
p{
  font-size: 2vw;
  color: #88a0d8;
  -webkit-text-stroke: 0.08vw #07215e;
}

.congratulations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.gallo-center {
  width: 20vw;
  /* hei  ght: auto; */
  margin-bottom: 20px;
}

.congratulations-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.congratulations-buttons button {
  font-size: 1.2vw;
}

.boton-cerrar-dialogo {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
  z-index: 1000; 
}

.boton-cerrar-dialogo, .boton-cerrar-dialogo:active {
  background: none;
  background-image: url('../../assets/buttons/buttonbackground.png');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  width: 15vw;
  height: 4vw; 
  border: none; 
  padding: 10px;
  color: #07215e;
  font-size: 1vw;
  text-align: center;
  outline: none;

}

.boton-cerrar-dialogo:hover {
  background-image: url('../../assets/buttons/buttonpressed.png');
  
}

.boton-cerrar-dialogo:active {
  background-image: url('../../assets/buttons/buttonbackground.png');
  color: #07215e;
}

.boton-cerrar-dialogo:disabled:hover {
background-image: url('../../assets/buttons/buttonbackground.png');
  color: #07215e;
  cursor: default;
}

.jeringa {
  background: none;
    background-image: url('../../assets/jeringa.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 7vw; 
    border: none; 
    padding: 10px;
    color: white;
    -webkit-text-stroke: 0.04vw #000;
    font-size: 1.5vw;
    text-align: center;
    outline: none;
}

.trapo {
  background: none;
    background-image: url('../../assets/napkin.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 7vw; 
    border: none; 
    padding: 10px;
    color: white;
    -webkit-text-stroke: 0.04vw #000;
    font-size: 1.5vw;
    text-align: center;
    outline: none;
}