.test-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
    position: relative;
  }
  
  .pregunta {
    font-size: 24px;
  }
  
  .gallo-contenedor {
    position: relative;
    margin: 20px 0;
  }
  
  .gallo-imagen {
    width: 20vw;
  }

  /* .resultado {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
    position: relative; 
  } */

  .resultado h1 {
    font-size: 3vw;
  }

  .resultado p {
    font-size: 2vw;
  }
  
  .respuesta {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .respuesta.izquierda {
    left: 10%;
  }
  
  .respuesta.derecha {
    right: 10%;
  }
  h1{ 
    font-size: 3vw;
    color:white;
    -webkit-text-stroke: 0.1vw #07215e;

  }

h2 {
    font-size: 2.5vw;
    color: #88a0d8;
    -webkit-text-stroke: 0.09vw #07215e;

}  

p {
  font-size: 2vw;
  color: white;
  -webkit-text-stroke: 0.075vw #07215e;

}

  .respuesta, .respuesta:active, .boton, .boton:active {
    background: none;
    background-image: url('../../assets/buttons/buttonbackground.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    height: 10vw; 
    border: none; 
    padding: 10px;
    color: #07215e;
    font-size: 1.8vw;
    text-align: center;
    outline: none;

}

.respuesta:hover, .boton:hover {
    background-image: url('../../assets/buttons/buttonpressed.png');
    
}

.respuesta:active, .boton:active {
    background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
}

.respuesta:disabled:hover, .boton:disabled:hover {
  background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
    cursor: default;
}

.boton-cerrar-dialogo {
  position: fixed;
  bottom: 2vw;
  left: 2vw;
  z-index: 1000; 
}

.boton-cerrar-dialogo, .boton-cerrar-dialogo:active {
  background: none;
  background-image: url('../../assets/buttons/buttonbackground.png');
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  width: 15vw;
  height: 4vw; 
  border: none; 
  padding: 10px;
  color: #07215e;
  font-size: 1vw;
  text-align: center;
  outline: none;

}

.boton-cerrar-dialogo:hover {
  background-image: url('../../assets/buttons/buttonpressed.png');
  
}

.boton-cerrar-dialogo:active {
  background-image: url('../../assets/buttons/buttonbackground.png');
  color: #07215e;
}

.boton-cerrar-dialogo:disabled:hover {
background-image: url('../../assets/buttons/buttonbackground.png');
  color: #07215e;
  cursor: default;
}