<app-dialogo1 *ngIf="mostrarDialogo" (dialogoTerminado)="ocultarDialogo()"></app-dialogo1>

<button *ngIf="mostrarDialogo" class="boton-cerrar-dialogo" (click)="mostrarDialogo = false">Saltar diálogo</button>

<div *ngIf="!mostrarDialogo">
    <h1 *ngIf="!win" class="text-center my-3">Nivel 1: Ayuda al Gallo a Organizar Cosas</h1>
    <div class="text-center my-5" *ngIf="vidas !== 0 && !win">
        <img *ngFor="let vida of [].constructor(vidas)" src="assets/heart.png" alt="Corazón" width="30" class="me-2 hearts">
    </div>
    
        <!-- Contenedor principal que usa flexbox para colocar la imagen del gallo a la izquierda -->
        <div class="main-content">
          <!-- Imagen del gallo a la izquierda ocupando espacio -->
          
  
          <!-- Contenedor de las imágenes y drop zones a la derecha -->
          <div class="game-area">
              <div class="image-container" *ngIf="vidas !== 0 && !win">
                  <div *ngFor="let image of randomizedImages">
                      <img
                          *ngIf="!image.on"
                          [src]="image.src"
                          [id]="image.id"
                          draggable="true"
                          (dragstart)="onDragStart($event, image.id)"
                          alt="Imagen draggable"
                      />
                  </div>
              </div>
  
              <div class="drop-zones" *ngIf="vidas !== 0 && !win">
                  <div
                      *ngFor="let container of randomizedContainers"
                      class="drop-zone"
                      [attr.id]="'container' + container"
                      (drop)="onDrop($event, 'container' + container)"
                      (dragover)="onDragOver($event)"
                      [ngStyle]="{'background-image': 'url(assets/box' + container + '.png)'}"
                  >
                  </div>
              </div>
          </div>

          <div *ngIf="!win && vidas > 0" class="gallo-left">
            <img [src]="galloImagen" alt="Gallo grande" class="gallo-image" />
        </div>
      </div>

      <div *ngIf="!win && vidas === 0" class="congratulations">
        <p class="retry-message mt-5">¡Perdiste! Intentalo de nuevo</p>
        <img src="assets/sad.png" alt="Gallo triste" class="gallo-imagen" />
        <button (click)="reset()" class="boton mt-5">Volver a intentar</button>
    </div>
</div>

<div *ngIf="win && !mostrarDialogo" class="congratulations">
  <h1>¡Felicidades! Has completado el nivel</h1>
  <img src="assets/happy.png" alt="Gallo feliz en el centro" class="gallo-imagen" />
  <div class="congratulations-buttons">
    <button class="boton" [routerLink]="['/condicionales']" routerLinkActive="router-link-active">Continuar</button>
    <button class="boton" (click)="reset()">Reiniciar Nivel</button>
  </div>
</div>
