/* Establece márgenes y altura del cuerpo y html */
body, html {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    background-color: #f0f0f0; /* Fondo claro para mejorar la visibilidad */
  }
  
  /* Contenedor principal del juego */
  .game-container {
    display: flex;
    flex-direction: column; /* Organiza todo en columnas */
    align-items: center; /* Centra todo horizontalmente */
  }

  .gallo-contenedor {
    position: relative;
    margin: 20px 0;
  }
  
  .gallo-imagen {
    width: 20vw;
  }

  .congratulations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    width: 100vw;  /* Ocupa el 100% del ancho de la ventana */
    position: fixed; /* Mantiene el div en la pantalla, incluso al hacer scroll */
    top: 0;
    left: 0;
    color: white; /* Color de texto en blanco para contraste */
    text-align: center; /* Centra el texto dentro del div */
    z-index: 1000; /* Asegura que esté en la parte superior */
  }
  
  .gallo-center {
    margin-top: 20px;
    max-width: 200px;
  }
  
  
  /* Contenedor de imágenes */
  .image-container {
    display: flex; /* Muestra las imágenes en fila */
    justify-content: center; /* Centra las imágenes en la fila */
    margin-bottom: 20px; /* Espaciado entre imágenes y contenedores */
  }
  
  /* Contenedores de arrastre */
  .drop-zones {
    display: flex; /* Muestra los contenedores en fila */
    justify-content: center; /* Centra los contenedores en la fila */
  }
  
  /* Estilo para las imágenes */
  .image-container img {
    margin: 10px; /* Espaciado entre las imágenes */
    cursor: grab; /* Cambia el cursor al arrastrar */
    width: 15vw; /* Ajusta el tamaño de las imágenes según lo necesites */
  }
  
  /* Estilo para los contenedores */
  .drop-zone {
    /* border: 2px dashed #007BFF; Borde de los contenedores */
    padding: 20px; /* Espacio interno en el contenedor */
    margin: 10px; /* Espaciado entre contenedores */
    text-align: center; /* Centra el texto en los contenedores */
    width: 15vw; /* Ajusta el tamaño de los contenedores según lo necesites */
  }

  .drop-zone {
    width: 15vw; /* Ajusta el tamaño según necesites */
    height: 15vw; /* Ajusta el tamaño según necesites */
    /* border: 2px dashed #ccc; Estilo del borde */
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; /* Asegúrate de que la imagen cubra todo el contenedor */
    margin: 10px; /* Espacio entre contenedores */
    position: relative; /* Para manejar el posicionamiento si es necesario */
  }
  
  .container1 {
    background-image: url('../../assets/0.png'); /* Imagen para el contenedor 1 */
  }
  
  .container2 {
    background-image: url('../../assets/1.png'); /* Imagen para el contenedor 2 */
  }
  
  .container3 {
    background-image: url('../../assets/2.png'); /* Imagen para el contenedor 3 */
  }
  

  h1{ 
    font-size: 3vw;
    color:white;
    -webkit-text-stroke: 0.1vw #07215e;  }
  p{
    font-size: 2vw;
    color: #88a0d8;
    -webkit-text-stroke: 0.08vw #07215e;
  }

  .hearts {
    width: 5vw;
  }

  .respuesta, .respuesta:active, .boton, .boton:active {
    background: none;
    background-image: url('../../assets/buttons/buttonbackground.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    height: 10vw; 
    border: none; 
    padding: 10px;
    color: #07215e;
    font-size: 1.8vw;
    text-align: center;
    outline: none;

}

.respuesta:hover, .boton:hover {
    background-image: url('../../assets/buttons/buttonpressed.png');
    
}

.respuesta:active, .boton:active {
    background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
}

.respuesta:disabled:hover, .boton:disabled:hover {
  background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
    cursor: default;
}


  .boton-cerrar-dialogo {
    position: fixed;
    bottom: 2vw;
    left: 2vw;
    z-index: 1000; 
  }
  
  .boton-cerrar-dialogo, .boton-cerrar-dialogo:active {
    background: none;
    background-image: url('../../assets/buttons/buttonbackground.png');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 15vw;
    height: 4vw; 
    border: none; 
    padding: 10px;
    color: #07215e;
    font-size: 1vw;
    text-align: center;
    outline: none;
  
  }
  
  .boton-cerrar-dialogo:hover {
    background-image: url('../../assets/buttons/buttonpressed.png');
    
  }
  
  .boton-cerrar-dialogo:active {
    background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
  }
  
  .boton-cerrar-dialogo:disabled:hover {
  background-image: url('../../assets/buttons/buttonbackground.png');
    color: #07215e;
    cursor: default;
  }

  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Imagen del gallo a la izquierda */
.gallo-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallo-image {
    width: 20vw;
}

/* Contenedor de la zona de juego a la derecha */
.game-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Centrando la zona de drop y las imágenes */
.image-container, .drop-zones {
    display: flex;
    justify-content: center;
    align-items: center;
}